body{
    background-color: #f4f4f4;
    color: #555555;

    font-family:'Courier New', Courier, monospace
    font-size: 24px;
    font-weight: 200;

    font: bold 16px Courier;
}

.box1{
    background-color: antiquewhite;
    color:royalblue;
}

h1{
    font-size: 40px;
    color: #000
}

.block{
    float: left;
    width: 33.3%;
}

.container{
    width: 80%;
    margin: auto;
}